header {
  background-color: navy;
  padding: 10px;
}

nav {
  background-color: lightgray;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

main {
  padding: 10px;
}

footer {
  background-color: lightgray;
  padding: 10px;
  text-align: center;
}
